.card {
  &__wrap {
    &--outer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }

    &--inner {
      display: flex;
      flex-direction: row;
      width: 100%;

      @media (min-width: 480px) {
        width: 50%;
      }

      @media (min-width: 1024px) {
        width: 33.33%;
      }
    }
  }

  .flexible {
    flex-grow: 1;
  }
}
