.content {
  width: 1140px;
  height: 447px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto auto auto;
  transition-duration: 5s;
  transition-property: all;
}

.content:hover {
  width: 1440px;
  height: 847px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto auto auto;
  transition: width 2s, height 2s, transform 2s;
}

.slider__content {
  padding: 25px;
}

.slider__content-active {
  padding: 60px;
}

.slider__image {
  width: 388px;
  height: 489px;
  left: 124px;
  top: 894px;
  padding: 55px;
}
.slider__title{
  width: 98px;
  height: 48px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #FFFFFF;
  text-align: center;
}

.slider_subtitle {
  width: 544px;
  height: 145px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.button__slider {
  box-sizing: border-box;
  width: 91px;
  height: 27px;
  background-color: transparent;
  border: 1px solid #F9FCFF;
  border-radius: 8px;
  color: #FFFFFF ;
}

.button__slider:hover {
  cursor: pointer;
  background: #d9dee23b;
}

.background_education {
  width: 100%;
  height: 100%;
  background-color: #006EAA;
  animation-name: background_education;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@keyframes background_education {
  0%   {background-color:#006EAA;}
  25%  {background-color:#17a3ee;;}
  50%  {background-color:#006EAA;}
  75%  {background-color:#17a3ee;;}
  100% {background-color:#006EAA;}
}
.background-culture {
  background-color: #AB1B01;
  animation-name: background-culture;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@keyframes background-culture {
  0%   {background-color:#AB1B01;}
  25%  {background-color:#e9391a;;}
  50%  {background-color:#AB1B01;}
  75%  {background-color:#e9391a;;}
  100% {background-color:#AB1B01;}
}
.background-heath {
  background-color: #00862E;
  animation-name: background-heath;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@keyframes background-heath {
  0%   {background-color:#00862E;}
  25%  {background-color:#0ada53;;}
  50%  {background-color:#00862E;}
  75%  {background-color:#0ada53;;}
  100% {background-color:#00862E;}
}
.background-funny {
  background-color: #BF7202;
  animation-name: background-funny;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
@keyframes background-funny {
  0%   {background-color:#BF7202;}
  25%  {background-color:#f19d1d;;}
  50%  {background-color:#BF7202;}
  75%  {background-color:#f19d1d;;}
  100% {background-color:#BF7202;}
}
.background-assistence {
  background-color: #3A1E69;
  animation-name: background-assistence;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
@keyframes background-assistence {
  0%   {background-color:#3A1E69;}
  25%  {background-color:#5010c0;;}
  50%  {background-color:#3A1E69;}
  75%  {background-color:#5010c0;;}
  100% {background-color:#3A1E69;}
}
